In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

ModuleNotFoundError: No module named 'matplotlib'

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#data import

gla_df= pd.read_xlsx('C:\\Users\\GAURAVB\\Downloads\\Global Logistics Association - Data to Merge.xlsx')
gla_df.head()

AttributeError: module 'pandas' has no attribute 'read_xlsx'

In [3]:
#data import

gla_df= pd.read_excel('C:\\Users\\GAURAVB\\Downloads\\Global Logistics Association - Data to Merge.xlsx')
gla_df.head()

,Member ID,Last name,First name,Street,Apt/Ste/Unit,New Address,City,State,Country,Zip Code,Dues amount,Membership end date,Member type
0,sakaguchiabbas@email.com,Sakaguchi,Abbas,25 Dyas Rd,Ste. 101,25 Dyas RdSte. 101,North York,ON,Canada,M3B 1V7,99,2022-03-27 00:00:00,Young Professional
1,dorionrichard@email.com,Dorion,Richard,7101 Notre Dame St,NaN,7101 Notre Dame St,Montreal,QC,Canada,H1N 2G4,2499,2/29/2022,Lifetime Member
2,gougeonsanjay@email.com,Gougeon,Sanjay,8580 Esplanade Ave,NaN,8580 Esplanade Ave,Montreal,QC,Canada,H2P 2R8,199,2021-11-09 00:00:00,Professional Member
3,wrightmohamed@email.com,Wright,Mohamed,135 Dundas St,NaN,135 Dundas St,Cambridge,ON,Canada,N1R 5X1,999,2022-05-31 00:00:00,Sponsor
4,romanmarian@email.com,Roman,Marian,135 Dundas St,NaN,135 Dundas St,Cambridge,ON,Canada,N1R 5X1,99,2022-05-31 00:00:00,Young Professional

In [4]:
gla_df.tail()

,Member ID,Last name,First name,Street,Apt/Ste/Unit,New Address,City,State,Country,Zip Code,Dues amount,Membership end date,Member type
76,di marioross@email.com,Di Mario,Ross,35 Basswood Ave Box 21,NaN,35 Basswood Ave Box 21,Stittsville,ON,Canada,K2S 1J2,99,2022-04-30 00:00:00,Young Professional
77,hickeyjohn@email.com,Hickey,John,18 Forest Ave,NaN,18 Forest Ave,Port Colborne,ON,Canada,L3K 5E1,199,2022-10-31 00:00:00,Professional Member
78,shipleywilhelm@email.com,Shipley,Wilhelm,15 Oriole Pky,NaN,15 Oriole Pky,Elmira,ON,Canada,N3B 1B6,199,2022-11-17 00:00:00,Professional Member
79,desjardinsdavid@email.com,Desjardins,David,8600 Chemin Devonshire,Unit 21,8600 Chemin DevonshireUnit 21,Mont-Royal,QC,Canada,H4P 2K9,199,2022-03-19 00:00:00,Professional Member
80,mcallisterbrent@email.com,McAllister,Brent,5795 Don Murie St,NaN,5795 Don Murie St,Niagara Falls,ON,Canada,L2E 6X8,199,2022-03-02 00:00:00,Professional Member

In [5]:
gla_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Member ID            81 non-null     object
 1   Last name            81 non-null     object
 2   First name           81 non-null     object
 3   Street               81 non-null     object
 4   Apt/Ste/Unit         13 non-null     object
 5   New Address          81 non-null     object
 6   City                 81 non-null     object
 7   State                62 non-null     object
 8   Country              81 non-null     object
 9   Zip Code             65 non-null     object
 10  Dues amount          81 non-null     int64
 11  Membership end date  81 non-null     object
 12  Member type          81 non-null     object
dtypes: int64(1), object(12)
memory usage: 8.4+ KB

In [6]:
gla_df.describe()

       Dues amount
count    81.000000
mean    329.246914
std     523.311512
min      99.000000
25%     149.000000
50%     199.000000
75%     199.000000
max    2499.000000

In [8]:
gla_df.isna().sum()

Member ID               0
Last name               0
First name              0
Street                  0
Apt/Ste/Unit           68
New Address             0
City                    0
State                  19
Country                 0
Zip Code               16
Dues amount             0
Membership end date     0
Member type             0
dtype: int64

In [12]:
# add new column

gla_df['Full_Name']= (gla_df['First name'] + gla_df['Last name'])

In [13]:
gla_df.head()

,Member ID,Last name,First name,Street,Apt/Ste/Unit,New Address,City,State,Country,Zip Code,Dues amount,Membership end date,Member type,Full_Name
0,sakaguchiabbas@email.com,Sakaguchi,Abbas,25 Dyas Rd,Ste. 101,25 Dyas RdSte. 101,North York,ON,Canada,M3B 1V7,99,2022-03-27 00:00:00,Young Professional,AbbasSakaguchi
1,dorionrichard@email.com,Dorion,Richard,7101 Notre Dame St,NaN,7101 Notre Dame St,Montreal,QC,Canada,H1N 2G4,2499,2/29/2022,Lifetime Member,RichardDorion
2,gougeonsanjay@email.com,Gougeon,Sanjay,8580 Esplanade Ave,NaN,8580 Esplanade Ave,Montreal,QC,Canada,H2P 2R8,199,2021-11-09 00:00:00,Professional Member,SanjayGougeon
3,wrightmohamed@email.com,Wright,Mohamed,135 Dundas St,NaN,135 Dundas St,Cambridge,ON,Canada,N1R 5X1,999,2022-05-31 00:00:00,Sponsor,MohamedWright
4,romanmarian@email.com,Roman,Marian,135 Dundas St,NaN,135 Dundas St,Cambridge,ON,Canada,N1R 5X1,99,2022-05-31 00:00:00,Young Professional,MarianRoman